<ion-content [fullscreen]="true" class="form-container">
  <div class="form-card">
    <div class="card-header">
      <ion-icon name="car-outline"></ion-icon>
      <h2>Selección de vehículo</h2>
      <p>Por favor, elige un vehículo para continuar</p>
    </div>

    <div class="contenido-pagina">
      <div class="mensaje-inicial">
        <p>Por favor, selecciona un vehículo para comenzar:</p>
      </div>

      <div class="vehiculos-lista">
        <ion-radio-group [(ngModel)]="vehiculoSeleccionado">
          <div *ngFor="let vehiculo of vehiculos" class="vehiculo-item"
            [class.selected]="vehiculoSeleccionado === vehiculo" (click)="vehiculoSeleccionado = vehiculo">
            <div class="vehiculo-icon">
              <ion-icon name="car-sport-outline"></ion-icon>
            </div>
            <div class="vehiculo-info">
              <h3>{{ vehiculo.patente }}</h3>
              <p>{{ vehiculo.marca }} - {{ vehiculo.modelo }}</p>
            </div>
            <div class="radio-selected">
              <ion-icon name="checkmark"></ion-icon>
            </div>
          </div>
        </ion-radio-group>
      </div>

      <ion-button expand="block" class="btn-continuar" [disabled]="!vehiculoSeleccionado"
        (click)="confirmarSeleccion()">
        Continuar
      </ion-button>
    </div>
  </div>
</ion-content>