<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista de vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="obtenerVehiculos()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let vehiculo of registroVehiculos">
      <ion-label>
        <h2>Patente: {{ vehiculo.patente }}</h2>
        <p>Modelo: {{ vehiculo.modelo }}</p>
        <p>Año: {{ vehiculo.anio }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="editarVehiculo(vehiculo.patente)">Editar</ion-button>
    </ion-item>
  </ion-list>

  <ng-template #mensajeCarga>
    <ion-text color="medium">
      <p class="ion-padding">No se encontraron vehículos o está cargando...</p>
    </ion-text>
  </ng-template>
</ion-content>