<ion-content [fullscreen]="true" class="main-menu-content">

  <!-- Subtítulo de bienvenida -->
  <div class="bienvenida">
    <h1>Bienvenido a la App de Gestión de Colectivos Tomé-Dichato</h1>
  </div>

  <!-- Grid de tarjetas -->
  <div class="card-grid">

    <ion-card button routerLink="/registro-vehiculo" class="menu-card">
      <ion-card-content>
        <ion-icon name="car-sport-outline" class="menu-icon"></ion-icon>
        <h2>Registrar Vehículo</h2>
      </ion-card-content>
    </ion-card>

    <ion-card button routerLink="/registro-kilometraje" class="menu-card">
      <ion-card-content>
        <ion-icon name="speedometer-outline" class="menu-icon"></ion-icon>
        <h2>Registrar Kilometraje</h2>
      </ion-card-content>
    </ion-card>

    <ion-card button routerLink="/registro-combustible" class="menu-card">
      <ion-card-content>
        <ion-icon name="flash-outline" class="menu-icon"></ion-icon>
        <h2>Registrar Combustible</h2>
      </ion-card-content>
    </ion-card>

    <ion-card button routerLink="/registro-mantenimiento" class="menu-card">
      <ion-card-content>
        <ion-icon name="construct-outline" class="menu-icon"></ion-icon>
        <h2>Registrar Mantenimiento</h2>
      </ion-card-content>
    </ion-card>

    <ion-card button routerLink="/registrar-ganancia" class="menu-card">
      <ion-card-content>
        <ion-icon name="cash-outline" class="menu-icon"></ion-icon>
        <h2>Registrar Ganancias</h2>
      </ion-card-content>
    </ion-card>

    <ion-card button (click)="signOut()" class="menu-card cerrar-sesion">
      <ion-card-content>
        <ion-icon name="log-out-outline" class="menu-icon"></ion-icon>
        <h2>Cerrar Sesión</h2>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>